@import "../styles/css/tokens.css";

.content {
  padding: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.centerTitle {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  text-align: center;
  color: var(--md-sys-color-on-surface-light);
}

.highlightedText {
  color: var(--md-sys-color-primary-light);
}

.leftBody {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: var(--md-sys-color-on-surface-light);
}

.centerTagline {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
  color: #a8a29e;
}
