@import "../styles/css/tokens.css";

.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table {
  margin: 2% auto;
  width: 100%;
  max-width: 1410px;
  height: 500px;
}

.thead {
  background: var(--md-sys-color-on-tertiary-container-light);
  width: 100%;
  height: 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--md-sys-color-tertiary-container-light);
}

.tbody {
  background: var(--md-sys-color-tertiary-container-light);
  color: var(--md-sys-color-on-tertiary-container-light);
}

.totalHours {
  background: var(--md-sys-color-tertiary-container-light);
  box-shadow: 5px 10px 35px rgba(33, 27, 0, 0.25);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  max-width: 500px;
  height: 110px;
}

.focusContainer,
.distractContainer {
  display: flex;
  align-items: center;
  padding: 8px;
}

.focus,
.distract {
  width: 64.05px;
  height: 59.2px;
  background: var(--md-sys-color-on-tertiary-fixed-variant);
  opacity: 0.74;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin-right: 8px;
}

.totalFocus,
.totalDistract {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 120%;
  color: var(--md-sys-color-on-tertiary-container-light);
}

.focused,
.distracted {
  margin: 0;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: var(--md-sys-color-on-tertiary-container-light);
}

@media (max-width: 768px) {
  .table {
    margin: 2% auto;
    width: 90%;
    height: auto;
  }

  .totalHours {
    margin: 3% auto;
    width: 90%;
    height: auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .focusContainer,
  .distractContainer {
    margin: 10px 0;
  }
}
