@import "../styles/css/tokens.css";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--md-sys-color-background-light);
}

.centerTitle {
  height: 40px;
  top: 254px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  color: var(--md-sys-color-on-surface-light);
}

.centerBody {
  padding-top: 24px;
  width: 1024px;
  height: 96px;
  left: 128px;
  top: 318px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  text-align: center;
  align-items: center;
  color: var(--md-sys-color-on-surface-light);
}

.divider {
  width: 1024px;
  height: 0px;
  left: 128px;
  top: 1197px;
  border: 1px solid #c1bbae;
}

.footer {
  background: var(--md-sys-color-on-primary-container-light);
}

.logo {
  color: var(--md-sys-color-background-light);
}

.contact {
  color: white;
}

.copyright {
  color: var(--md-sys-color-primary-container-light);
}
